.statsfc_table table {					display: table; width: 100%; border-collapse: collapse; border: 1px solid silver; }
.statsfc_table th,
.statsfc_table td {						text-align: left; padding: 2px 5px; border-bottom: 1px solid silver; vertical-align: middle; }
.statsfc_table .statsfc_numeric {		text-align: right; }
.statsfc_table .statsfc_highlight td {	font-weight: bold; border-top: 2px solid black; border-bottom: 2px solid black; }
.statsfc_table .statsfc_footer {		display: block !important; }

.statsfc_table .statsfc_championsleague td,
.statsfc_table .statsfc_championsleaguequal td {	background-color: #9CE; }
.statsfc_table .statsfc_uefacup td {				background-color: #9C4; }
.statsfc_table .statsfc_relegation td {				background-color: #F77; }

.statsfc_table .statsfc_team {						background-repeat: no-repeat; background-position: center left; background-size: 20px 20px; line-height: 25px; padding-left: 25px !important; }
.statsfc_table .statsfc_badge_arsenal {				background-image: url(../i/arsenal.png); }
.statsfc_table .statsfc_badge_astonvilla {			background-image: url(../i/aston-villa.png); }
.statsfc_table .statsfc_badge_chelsea {				background-image: url(../i/chelsea.png); }
.statsfc_table .statsfc_badge_everton {				background-image: url(../i/everton.png); }
.statsfc_table .statsfc_badge_fulham {				background-image: url(../i/fulham.png); }
.statsfc_table .statsfc_badge_liverpool {			background-image: url(../i/liverpool.png); }
.statsfc_table .statsfc_badge_manchestercity {		background-image: url(../i/manchester-city.png); }
.statsfc_table .statsfc_badge_manchesterunited {	background-image: url(../i/manchester-united.png); }
.statsfc_table .statsfc_badge_newcastleunited {		background-image: url(../i/newcastle-united.png); }
.statsfc_table .statsfc_badge_norwichcity {			background-image: url(../i/norwich-city.png); }
.statsfc_table .statsfc_badge_queensparkrangers {	background-image: url(../i/queens-park-rangers.png); }
.statsfc_table .statsfc_badge_reading {				background-image: url(../i/reading.png); }
.statsfc_table .statsfc_badge_southampton {			background-image: url(../i/southampton.png); }
.statsfc_table .statsfc_badge_stokecity {			background-image: url(../i/stoke-city.png); }
.statsfc_table .statsfc_badge_sunderland {			background-image: url(../i/sunderland.png); }
.statsfc_table .statsfc_badge_swanseacity {			background-image: url(../i/swansea-city.png); }
.statsfc_table .statsfc_badge_tottenhamhotspur {	background-image: url(../i/tottenham-hotspur.png); }
.statsfc_table .statsfc_badge_westbromwichalbion {	background-image: url(../i/west-bromwich-albion.png); }
.statsfc_table .statsfc_badge_westhamunited {		background-image: url(../i/west-ham-united.png); }
.statsfc_table .statsfc_badge_wiganathletic {		background-image: url(../i/wigan-athletic.png); }